.protocols {
	width: 60px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 12% 100%, 0 70%);
	padding-left: 10px;
	padding-right: 10px;
	background-color: #72dec2;
	border-right: 4px solid #ffb545;
}

.protocol {
	color: black;

}

.protocol input {
	/* border: 1px solid black; */
	background-color: #ffb545;
	padding: 0.5em;
	-webkit-appearance: none;
	appearance: none;
}

.protocol input:checked {
	background-color: black;
	/* clip-path: polygon(100% 100%, 100% 82%, 67% 50%, 100% 18%, 100% 0, 82% 0, 50% 33%, 18% 0, 0 0, 0 18%, 33% 50%, 0 82%, 0 100%, 22% 100%, 50% 67%, 82% 100%); */
}